<table class="table table-striped table-sm">
    <tbody>
        {% for value in entity.values %}
            <tr>
                <th>{{ value.element.label }}</th>
                <td>{{ value.data }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
