{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="w-100 m-auto text-center" style="max-width: 330px;">
        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form) }}
        <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
        {{ form_widget(form) }}
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" id="_submit" name="_submit">Reset</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
