{% extends 'base.html.twig' %}

{% block title %}PDFDetails {% endblock %}

 {% block pageheader %}
     <h1>PDFDetails</h1>
 {% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('nines_media_pdf_view', { 'id': pdf.id }) }}" class="btn btn-primary" target="_blank">
                <span class='glyphicon glyphicon-download'></span>
                Download
            </a>
        </div>
    </div>

    {% embed '@NinesMedia/pdf/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}