{% if entity.links|length > 0 %}
    <ul class="list-unstyled">
        {% for link in entity.links %}
            <li>{{ link|default('')|sanitize_html }}</li>
        {% endfor %}
    </ul>
{% endif %}