<div class="card card-light mb-3">
    <div class="card-header" role="tab" id="widgetHeader">
        <h4 class="card-title">
            <a class="collapsed text-decoration-none text-dark" role="button" data-bs-toggle="collapse" href="#commentList" aria-expanded="false" aria-controls="commentList">
                Comments for <i>{{ entity|u.trim(60, '...') }}</i>
            </a>
        </h4>
    </div>
    <ul class="list-group collapse" id="commentList">
        <li class="list-group-item">
            {% include '@NinesFeedback/comment/comment-form.html.twig' with {entity: entity} %}
        </li>
        {% if is_granted('ROLE_FEEDBACK_ADMIN') %}
            {% include '@NinesFeedback/comment/comments-admin.html.twig' %}
        {% else %}
            {% include '@NinesFeedback/comment/comments-view.html.twig' %}
        {% endif %}
    </ul>
</div>