{% set comments = comment_service.findComments(entity) %}
{% if comments|length %}
    <li class="list-group-item">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="card card-light">
                <div class="card-body">
                    {{ comment.content }}
                </div>
                <div class="card-footer">
                    Submitted by {{ comment.fullname }} on {{ comment.created|date }}
                </div>
            </div>
        {% endfor %}
    </li>
{% endif %}