{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        {% if pdf.id is null %}
            <input type="submit" value="Create" class="btn btn-primary" />
        {% else %}
            <input type="submit" value="Update" class="btn btn-primary" />
        {% endif %}
        <a href="{{ path(route, routeParams) }}" class="btn btn-warning"> Cancel </a>
    </div>
</div>
{{ form_end(form) }}